@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,301,701,300,501,401,901,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#logo {
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-weight: 500;
}

html,
body {
  font-family: 'Satoshi', sans-serif;
}

.slick-dots {
  bottom: 25px !important;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  font-size: 0;
  line-height: 0;
  display: block;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: 0;
  background: transparent;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.slick-dots li {
  padding: 0;
  width: 30px !important;
  line-height: 1;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.slick-dots li button::before {
  background-color: #dedede;
  position: absolute;
  font-family: '' !important;
  font-size: 0 !important;
  line-height: 0 !important;
  position: absolute !important;
  top: 50% !important;
  left: 0 !important;
  width: 100% !important;
  height: 6px !important;
  -webkit-transform: translate(0, -50%) !important;
  transform: translate(0, -50%) !important;
  padding: 0 !important;
  content: '' !important;
  text-align: center !important;
  opacity: 1 !important;
  border-radius: 0 !important;
}

.slick-dots li.slick-active button::before {
  background-color: rgb(30 64 175);
}

.Footer {
  background-color: rgb(30 64 175);
}

@media (min-width: 1024px) {
  .MFP_Body {
    width: calc(100% - 300px);
  }
}

.timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #cbd5e0;
}
.timeline-item {
  position: relative;
  /* margin: 20px 0; */
}

@media (min-width: 600px) {
  .timeline-item::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background: #3182ce;
    border-radius: 50%;
    top: 50%;
    z-index: 10;
  }
}

@media (min-width: 600px) {
  .image_link_large {
    position: absolute;
    inset: 0px;
  }
}

.timeline-content {
  position: relative;
}
